body {
  color: #f9f9f9;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 18rem;
}

main {
  flex: 1;
}

footer,
footer a {
  color: gray !important;
  margin-top: auto;
}

.main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#sidebar {
  max-width: 300px;
  min-width: 300px;
  transition: all 0.35s ease-in-out;
  background-color: #eb048c;
  display: flex;
  flex-direction: column;
  border-radius: 0 20px 20px 0;
  z-index: 1;
}

#sidebar.collapsed {
  margin-left: -300px;
}

.sidebar-widget {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  min-width: 300px;
  top: 26px;
}

.toggler-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0px;
  width: 80px;
  height: 40px;
  background-color: #eb048c;
  border-radius: 0 50px 50px 0;
}

.toggler-btn i {
  font-size: 1.2rem;
  color: white;
}

.navbar {
  padding: 1.12rem 1.5rem;
}

.sidebar-nav {
  margin-top: 74px;
  flex: 1 1 auto;
}

.sidebar-logo {
  padding-bottom: 0;
  display: flex;
  text-align: center;
  margin-left: 5px;
}

.sidebar-header {
  font-size: 0.75rem;
  color: white;
  padding: 26px 32px 6px;
}

a.sidebar-link {
  padding: 0.625rem 32px;
  color: white;
  position: relative;
  transition: all 0.35s;
  display: block;
}

a.sidebar-link:hover {
  background-color: #f9f6f630;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid white;
  border-width: 0 0.075rem 0.075rem 0;
  content: "";
  display: inline-block;
  padding: 3px;
  position: absolute;
  right: 2.1rem;
  top: 50%;
  transition: transform 0.2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: translateY(-50%) rotate(45deg);
}

.sidebar-link[data-bs-toggle="collapse"]:not(.collapsed)::after {
  transform: translateY(-50%) rotate(-135deg);
}

.description {
  margin-left: 10px;
}

@media (max-width: 480px) {
}
